.notes-navigator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.notes-navigator-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
