<div class="header-container">
    <div class="header-left">
        <button mat-icon-button (click)="onToggleSidebar()" class="menu-button">
            <mat-icon>{{ sidenavOpened ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
        <h1 class="app-title">Vector Notes</h1>
    </div>
    <div class="header-right">
        <note-search></note-search>
        <button mat-icon-button (click)="openSettingsDialog()" class="settings-button">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>